[Unit]
Description=RADAR Linux log enrichment (auth + auditd)
After=network.target

[Service]
Type=simple
ExecStart=/opt/radar/venv/bin/python /opt/radar/radar-helper.py
User=root
Group=root
Restart=always
RestartSec=5
WorkingDirectory=/opt/radar

# Environment=CITY_DB=/usr/share/GeoIP/GeoLite2-City.mmdb ASN_DB=/usr/share/GeoIP/GeoLite2-ASN.mmdb

[Install]
WantedBy=multi-user.target