# =======================
# OpenSearch Configuration
# =======================
OS_URL=https://192.168.0.28:9200   # Change IP accordingly
OS_USER=admin
OS_PASS=SecretPassword
OS_VERIFY_SSL="/app/config/wazuh_indexer_ssl_certs/root-ca.pem"

DASHBOARD_URL=https://192.168.0.28   # Change IP accordingly
DASHBOARD_USER=admin
DASHBOARD_PASS=SecretPassword
DASHBOARD_VERIFY_SSL="/app/config/wazuh_indexer_ssl_certs/root-ca.pem"

WAZUH_API_URL=https://192.168.0.28:55000   # Change IP accordingly
WAZUH_AUTH_USER=wazuh-wui
WAZUH_AUTH_PASS=MyS3cr37P450r.*-

WAZUH_AGENT_VERSION=4.14.1-1
WAZUH_MANAGER_ADDRESS=192.168.0.28   # Change IP accordingly

WEBHOOK_NAME="RADAR_Webhook"
WEBHOOK_URL=http://192.168.0.28:8080/notify  # Change IP accordingly

# =======================
# Logging
# =======================

AR_LOG_FILE=/var/ossec/logs/active-responses.log
AR_RISK_CONFIG=/var/ossec/active-response/bin/ar.yaml

# =======================
# SMTP
# =======================

SMTP_HOST=SMTP_HOST # Change accordingly
SMTP_PORT=SMTP_PORT # Change accordingly
SMTP_USER=SMTP_USER # Change accordingly
SMTP_PASS=SMTP_PASS # Change accordingly
EMAIL_TO=RECEIVER_EMAIL@example.com # Change accordingly
SMTP_STARTTLS=yes

# =======================
# DECIPHER
# =======================

DECIPHER_BASE_URL=http://localhost:8000  # Change accordingly
DECIPHER_VERIFY_SSL=VERIFY_SSL           # Change accordingly
DECIPHER_TIMEOUT_SEC=30                  # Change accordingly
